# Conditions, Control Flow & Looping

# Conditional

In [1]:
# a == b
# a != b
# a < b
# a <= b
# a > b
# a >= b
# if statements

## Introduction to the if statement

In [2]:
# syntaks
# if <expr>:
#     <statement>

In [3]:
x = 0
y = 5

if x < y:
    print('yes')

yes

In [4]:
if y < x:
    print('yes')

In [5]:
if x:
    print('yes')

In [6]:
if y:
    print('yes')

yes

In [7]:

if 'aul' in 'grault':
    print('yes')

yes

In [8]:
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

## Grouping Statement: Indentation and Blocks

### Python : It's all about the indentation

In [9]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [10]:
# Does line execute?                    Yes    No
#                                       ---   ---
if 'foo' in ['foo', 'bar', 'baz']:     # x
    print('Outer condition is true')   # X
    
    if 10 > 20:                        # x
        print('Inner condition 1')     #       x
        
    print('Between inner condition 1') # X
    
    if 10 < 20:                        # x
        print('Inner condition 2')     # x
        
    print('End of outer condition')    # x
print('After outer condition')         # x

Outer condition is true
Between inner condition 1
Inner condition 2
End of outer condition
After outer condition

### The else and elif clauses

In [11]:
# if <expr>:
#     <statement(s)>
# else:
#     <statement(s)>

In [12]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [13]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [14]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [15]:
# if elif
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [16]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Helo Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print("I don't know who you are!")

Hello Hacktiv8

In [17]:
if 'a' in 'bar':
    print('foo')
elif 1/10:
    print("this won't happen")
elif var:
    print("This won't either")

foo

### One-Line if Statements

In [18]:
# if <expr>:
#     <statement>

In [19]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [20]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [21]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [22]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [23]:
# syntaks sebelumnya tidak direkomendasikan karena readability yg buruk
x = 3

if x == 1: 
    print('foo'); 
    print('bar'); 
    print('baz')
elif x == 2: 
    print('qux'); 
    print('quux')
else: 
    print('corge'); 
    print('grault')

corge
grault

### Conditional Expressions (python's ternary operator)

In [24]:
# <expr1> if <conditional_expr> else <expr2>
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [25]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [26]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [27]:
age = 22
s = 'teen' if age < 21 else 'adult'
s

'adult'

In [28]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [29]:
'yes' if ('bar' in ['foo', 'bar', 'baz']) else 'no'

'yes'

In [30]:
# if standar
# if a > b:
#     m = a
# else:
#     m = b

### The python pass statement

In [31]:
if True:
    print('foo')

foo

In [32]:
if True:
    pass

print('foo')

foo

In [33]:
if True:
    pass
print('foo')

foo

# Python "While" Loops

In [40]:
# indefinite iteration
# definite iteration

In [41]:
# sytaks 
# while <expr>:
#     <statement(s)>

In [42]:
n = 5
while n > 0:
    n -= 1    
    print(n)

4
3
2
1
0

In [43]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The Python break and continue statements

In [49]:
# 2 nya di skip, dan looping dihentikan
n = 5
while n > 0:
    n-= 1
    if n == 2:
        break #break statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [50]:
# 2 nya di skip tapi lanjut eksekusi
n = 5
while n > 0:
    n-= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

## The else clause

In [52]:
# while<expr>:
#     <statement(s)>
# else:
#     <additional_statement(s)>

SyntaxError: invalid syntax (2153506920.py, line 1)

In [53]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [55]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

## Infinite loops

In [ ]:
# tidak akan berakhir

# while True:
#     print('foo')

## Nested while loops

In [5]:
age = 20
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandFather')
    else:
        print('grandMother')

mother

In [6]:
#

In [61]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [2]:
# break dan continue

# while <expr1>:
#     statement
#     statement

#     while <expr2>:
#         statement
#         statement
#         break  # applies to while <expr2>: loop
    
#     break  # applies to while <expr1>: loop

In [3]:
# if elif else

# if <expr>:
#     statement
#     while <expr>:
#         statement
#         statement
# else:
#     while <expr>:
#         statement
#         statement
#     statement
# while <expr>:
#     if <expr>:
#         statement
#     elif <expr>:
#         statement
#     else:
#         statement
#     if <expr>:
#         statement

## One-Line while Loops

In [7]:
n = 5 
while n > 0: n -= 1; print(n)

4
3
2
1
0

# A survey of definite iteration in programming

## Numeric Range Loop

In [ ]:
# for i = 1 to 10
#     <loop body>

## Three-Expression Loop

In [ ]:
# for (i = 1; i<= 10; i++)
#     <loop body>

## Collection-Based or Iterator-Based Loop

In [10]:
# for i in <collection>
#     <loop body>

# The Python for Loop

In [11]:
# python hanya mengimplementasikan iterasi collection based

In [12]:
# for <var> in <iterable>:
#     <statement(s)>

In [16]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [17]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [18]:
for k in d:
    print(d[k])

1
2
3

In [19]:
for k in d.values():
    print(k)

1
2
3

In [20]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

## Iterating Through a Dictionary

In [21]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [23]:
# untuk mengakses nilai, bukan mengakses key
for k in d:
    print(d[k])

1
2
3

In [25]:
for v in d.values():
    print(v)

1
2
3

## The Range Function

In [26]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [27]:
# range function

# x = range(5)

In [29]:
# for n in x:
#     print(n)

## Altering for Loop Behavior

### The break and continue Statements

In [30]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [31]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else Clause

In [32]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [33]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [ ]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])

if i_convertion == "C":
    result = int(round((9*degree) / 5+32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else: 
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

In [ ]:
while True:
    msg = input("Ketika karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

In [ ]:
temp = input("Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])  # Mengambil semua karakter kecuali yang terakhir
conversion_type = temp[-1]  # Mengambil karakter terakhir untuk menentukan jenis konversi

if conversion_type == "C":
    result = int(round((9 * degree) / 5 + 32))
    converted_to = "Fahrenheit"
elif conversion_type == "F":
    result = int(round((degree - 32) * 5 / 9))
    converted_to = "Celsius"
else:
    print("Masukkan input yang benar")
    exit()  # Keluar dari program jika input tidak benar

print(f"Temperature adalah {result} derajat {converted_to}")