# Pengenalan Python

## Integers

In [1]:
# integer python tidak terbatas
print(123123123123123123123123123123123 + 1)

123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

## Float

In [3]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## String

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print('')

In [8]:
print("This string contains a single quote ('') character.")
print('This string contains a single quote ("") character.')

This string contains a single quote ('') character.
This string contains a single quote ("") character.

## Boolean

In [9]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable assignment

In [10]:
n = 300
print(n)

300

In [11]:
300

300

In [12]:
n

300

In [13]:
n = 1000
print(n)
n

1000

1000

In [14]:
a = b = c = 300
print(a,b,c)

300 300 300

## Variable types

In [15]:
var = 23.5
print(var)
var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [16]:
print(type(var))

<class 'str'>

### Variable names

In [17]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [18]:
#nama variabel tidak boleh dimulai dengan angka
9_kepala_naga = True

SyntaxError: invalid decimal literal (2820213632.py, line 2)

In [22]:
#masing-masing dari berikut ini mendefinisikan variabel berbeda
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

metode paling umum untuk penamaan variabel :
- numberOfCollegeGraduates
- NumberOfCollegeGraduates
- number_of_college_graduates

## Operators and expressions

In [24]:
a=10
b=20
a+b

30

In [25]:
a = 10
b = 20
a + b - 5

25

### Arithmetic Operators

In [27]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [28]:
10 / 5

2.0

### Comparison operators

In [30]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [31]:
a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

True
True
True

## String Manipulation

In [32]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'
print(s+t)
print(s+t+u)
print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [33]:
# * operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [34]:
# in operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [36]:
# case conversion
s = 'HackTIV8'

# capitalize
print(s.capitalize())

# lower
print(s.lower())

# swapcase
print(s.swapcase())

# Title
print(s.title())

# uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python lists

In [37]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

### List are ordered

In [38]:
#berbeda urutan berarti beda list walaupun isinya sama
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### list can contain arbitrary objects

In [41]:
# dapat berisi macam-macam objek
a = [21.42, 'foobar', 3, 4, 'bark', 'False', 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', 'False', 3.14159]

### list elements can be accessed by index

In [42]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [45]:
print(a[0])
print(a[5])

foo
corge

In [46]:
print(a[-1])
print(a[-6])

corge
foo

In [48]:
# slicing list. a[m:n], mengembalikan porsi a dari indeks m ke n, tapi tidak termasuk indeks n
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [50]:
# the concatenation (+) and replication (*) operators :

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [51]:
print(a + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [52]:
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [53]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### modifying a single list value

In [55]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [56]:
a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

In [57]:
del a[3]

In [58]:
print(a)

['foo', 'bar', 10, 'quux', 20]

### modifying multiples list values

In [59]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

['bar', 'baz', 'qux']

In [60]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples

### defining and using tuples

In [61]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [62]:
print(t[0])
print(t[-1])

foo
corge

In [63]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [64]:
s1

'foo'

## Python Dictionary

### defining a dictionary

In [67]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

### Accessing Dictionary Values

In [68]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [69]:
# adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [70]:
# if u want to update an entry, you can just assign a new value to existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [71]:
# to delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### building s dictionary incrementally

In [72]:
person = {}
type(person)

dict

In [73]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [74]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [75]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [76]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [77]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [79]:
# buit-in methods
d = {'a':10, 'b':20, 'c': 30}

In [80]:
# items
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [81]:
# keys
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [82]:
# values
print(d.values())

dict_values([10, 20, 30])

## Line Continuation

In [84]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65) 
someone_is_of_working_age

True

In [85]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
) 
someone_is_of_working_age

True