In [54]:
a = 2
b = 3

In [55]:
a!= b

True

In [56]:
a > b

False

In [57]:
a >=b

False

In [58]:
a < b

True

In [59]:
a <= b

True

## if statement

In [60]:
if a == b:
    print ('a sama dengan b')

In [61]:
if a > b:
    print ('a besar dari b')

In [62]:
if a >= b:
    print ('a besar dari atau sama dengan b')

## grouping statements : indentation and blocks

In [63]:
if a!=b:
    print("ya")
    print("a sama dengan b")
else:
    print('jalankan else')
    
print("paling bawah")

ya
a sama dengan b
paling bawah

In [64]:
harga_buku = 15000
harga_majalah = 35000
uang = 15000

if uang > harga_majalah:
    print("uang kamu cukup untuk membeli majalah")
elif uang >= harga_buku:
    print("uang kamu cukup untuk membeli buku")
elif uang == harga_buku:
    print("uang kamu cukup membeli buku, dan habis")
else:
    print('uang kamu tidak cukup')

uang kamu cukup untuk membeli buku

In [65]:
if 1 < 2:
    print('1 kecil dari 2')
if 1 > 2:
    print('2 besar dari 1')
elif 1 < 2:
    print('1 kecil dari 2')

1 kecil dari 2
1 kecil dari 2

In [66]:
if a in 'bara' :print('ada');print('a')

TypeError: 'in <string>' requires string as left operand, not int

## conditional expression

In [67]:
raining = False
print("let's go to the", 'beach' if not raining else 'library')

let's go to the beach

In [68]:
raining = True
print("let's go to the", 'beach' if not raining else 'library')

let's go to the library

In [69]:
m = a if a > b else b

m

3

In [71]:
if True:
    pass
elif True:
    print('y')
print('foo')

foo

# Looping

## while loops : iterasi terus berjalan selagi kondisi terpenuhi

In [72]:
#while True:
    #print('a')

In [74]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

### break

In [76]:
n = 5
while n > 0:
    n -= 1
    print(n)
    break
    
print('while loop selesai')

4
while loop selesai

In [78]:
n = 5
while n > 0:
    n -= 1
    print(n)
    
    if n == 2:
        break

4
3
2

### continue

In [79]:
n = 5
while n > 0:
    n -= 1
    
    if n == 2:
        continue
    print(n)

print('while loop selesai')

4
3
1
0
while loop selesai

### else clause

In [81]:
n = 5
while n > 0:
    n -= 1
    
    if n == 2:
        continue
    print(n)
else:
    print('while loop selesai')

print('ini print di luar loop')

4
3
1
0
while loop selesai
ini print di luar loop

### nested

In [82]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### for loop

### three expression loop

### collection based

In [95]:
a = {'foo':1, 'bar':2, 'buzz':3}
for i in a.values():
    print(i)
a.items()

1
2
3

dict_items([('foo', 1), ('bar', 2), ('buzz', 3)])

## range function

In [97]:
x = range(5)
for n in x:
    print(n)
print(type(range(5)))

0
1
2
3
4
<class 'range'>

In [96]:
# start:stop:step
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [99]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [104]:
#start lebih besar dari stop
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [105]:
for i in range(20,1,-1):
    print(i)
else: print('mantap')

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
mantap

In [106]:
for i in range(20,1,-1):
    if i == 15:
        break
    print(i)
else: print('mantap')

20
19
18
17
16

In [2]:
a = 5
while a > 0:
    a -= 1
    if a == 2:
        break
    print(a)
else:
    print('selesai')

4
3

In [1]:
umur = input('berapa umur kamu?')
umur_int = int(umur)
print(umur_int + 2)

print('tipe data umur adalah', type(umur))
print('tipe data umur_int adalah', type(umur_int))

berapa umur kamu?12
14
tipe data umur adalah <class 'str'>
tipe data umur_int adalah <class 'int'>

In [7]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ") 
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round ((9* degree) / 5 + 32))
elif i_convertion == "F": 
    result = int(round ((degree - 32) * 5 / 9))
else: 
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 100
Masukan input yang benar

NameError: name 'result' is not defined

In [9]:
while True:
    password = input('masukan password kamu:')
    
    if password == 'hacktiv8':
        break
    else: 
        print('password yang kamu masukan salah')

masukan password kamu:dini
password yang kamu masukan salah
masukan password kamu:hacktiv8